@font-face {
  font-family: "AlphaCentauri"; /* Nom de la police à utiliser dans font-family */
  src: url("fonts/ALPHACENTAURI-MVY4P.TTF") format("truetype"); /* Chemin vers la police */
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Regular.ttf");
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
header {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
/* Style général du lien */
#tekkadan {
  display: inline-flex; /* Aligne l'image et le texte horizontalement */
  align-items: center; /* Centre verticalement les éléments */
  font-size: 20px; /* Taille du texte */
  text-align: center; /* Centre le texte si nécessaire */
  color: #d70b17; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement */
  transition: transform 0.3s ease; /* Transition fluide pour l'effet hover */
}

/* Style de l'image */
#tekkadan img {
  height: 40px; /* Hauteur de l'image */
  width: 45px; /* Largeur de l'image */
  margin-left: 10px; /* Espacement entre le texte et l'image */
  transition: transform 0.3s ease; /* Transition fluide pour l'image */
}

/* Effet au survol (hover) */
#tekkadan:hover {
  transform: scale(1.2); /* Agrandit l'ensemble (texte + image) */
  color: #ff4c4c; /* Change la couleur du texte */
}

#tekkadan:hover img {
  transform: scale(1.2); /* Applique l'agrandissement à l'image */
}

header h1 {
  font-family: "Roboto", sans-serif;
  color: white;
}
.container {
  height: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
}
.container-text {
  padding-right: 30px;
}
h1,
h2 {
  color: #333;
}
img {
  height: 220px;
  width: 350px;
}
#adobe {
  height: 300px; /* Hauteur de l'image */
  width: 350px; /* Largeur de l'image */
}
#cobol {
  height: 350px;
  width: 450px;
}
#pdf {
  color: rgb(228, 31, 31);
  text-decoration: none;
  font-family: "AlphaCentauri", sans-serif;
  font-size: 20px;
}
.skills,
.projects {
  margin-bottom: 2rem;
}
.project {
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
}
.project h3 {
  margin: 0;
}
footer {
  text-align: center;
  margin-bottom: 10px;
  background: #f4f4f4;
}
/* ------------------------------------------- */

.skills {
  padding-right: 100px;
}
